/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

:root {
  /* Colors */
  --accent-color: #FF6C00;
  /* Light theme */
  --primary-txt_mod-light: #555555;
  --secondary-txt_mod-light: #303030;
  /* Dark theme */
  --primary-txt_mod-darking: rgb(157, 164, 189, 0.6);
  --primary-txt_mod-dark: #9DA4BD;
  --secondary-txt_mod-dark: #ffffff;
  /* Bg colors */
  --primary-bg_mod-light: #F7F7F7;
  --primary-bg_mod-dark: #191C26;
  --secondary-bg-mod-light: #ffffff;
  /* Fonts */
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-contacts, .services, .hero__content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Reset CSS */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Common styles */
html {
  scroll-behavior: smooth;
}

.page {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.87;
  letter-spacing: 0.02em;
  color: var(--primary-txt_mod-dark);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 448px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 705px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.uppertitle {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: normal;
  margin-bottom: 20px;
}

.uppertitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.uppertitle--color-dark {
  color: var(--primary-txt_mod-darking);
}

.uppertitle--color-light {
  color: var(--secondary-txt_mod-light);
}

.title {
  font-family: var(--secondary-font);
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 42px;
  }
}

.title--color-light {
  color: var(--secondary-txt_mod-light);
  margin-bottom: 20px;
}

.title--color-dark {
  color: var(--secondary-txt_mod-dark);
  margin-bottom: 44px;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.67;
}
@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 18px;
  }
}

.subtitle--color-light {
  color: var(--primary-txt_mod-light);
}

.subtitle--color-dark {
  color: var(--primary-txt_mod-dark);
}

.address-normal {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  max-width: 160px;
  width: 100%;
  min-width: 100px;
  min-height: 40px;
  padding: 11px 12px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-mod-dark {
  color: var(--secondary-txt_mod-dark);
  transition: color 0.25s var(--transition-timing), background-color 0.25s var(--transition-timing);
}
.btn-mod-dark:hover, .btn-mod-dark:focus {
  background-color: var(--accent-color);
  border-color: transparent;
}

.btn-mod-light {
  color: var(--secondary-txt_mod-light);
  transition: color 0.25s var(--transition-timing);
}
.btn-mod-light:hover, .btn-mod-light:focus {
  color: var(--secondary-txt_mod-dark);
  background-color: var(--accent-color);
  border-color: transparent;
}

.social-line {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
}
.social-line::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--secondary-txt_mod-light);
}

.social-line__link {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-txt_mod-light);
  transition: color 0.25s var(--transition-timing);
  text-transform: capitalize;
}
.social-line__link:hover, .social-line__link:focus {
  color: var(--accent-color);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--secondary-txt_mod-dark);
  /* color: var(--secondary-txt_mod-light); */
  /* transition: color 0.25s var(--transition-timing); */
}

.social-list__icon {
  transition: fill 0.25s var(--transition-timing);
  fill: var(--secondary-txt_mod-light);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--accent-color);
}

/* .social-list__link:hover,
.social-list__link:focus {
    color: var(--accent-color);
}

.social-list__icon {
    fill: currentColor;
} */
.form {
  display: flex;
  flex-direction: column;
  row-gap: 44px;
}

.form__wrap {
  display: flex;
  gap: 30px;
  width: 100%;
}

.form__input,
.form__textarea {
  width: calc((100% - 30px) / 2);
  padding-bottom: 8px;
  border: none;
  outline: transparent;
  background-color: transparent;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--primary-txt_mod-darking);
  border-bottom: 1px solid var(--primary-txt_mod-darking);
  transition: color 250ms var(--transition-timing), border 250ms var(--transition-timing);
}
.form__input:hover, .form__input:focus,
.form__textarea:hover,
.form__textarea:focus {
  border-bottom: 1px solid var(--secondary-txt_mod-dark);
  color: var(--secondary-txt_mod-dark);
}
.form__input:hover::-moz-placeholder, .form__input:focus::-moz-placeholder, .form__textarea:hover::-moz-placeholder, .form__textarea:focus::-moz-placeholder {
  color: var(--secondary-txt_mod-dark);
}
.form__input:hover:-ms-input-placeholder, .form__input:focus:-ms-input-placeholder, .form__textarea:hover:-ms-input-placeholder, .form__textarea:focus:-ms-input-placeholder {
  color: var(--secondary-txt_mod-dark);
}
.form__input:hover::placeholder, .form__input:focus::placeholder,
.form__textarea:hover::placeholder,
.form__textarea:focus::placeholder {
  color: var(--secondary-txt_mod-dark);
}
.form__input::-moz-placeholder, .form__textarea::-moz-placeholder {
  color: var(--primary-txt_mod-darking);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -moz-transition: color 250ms var(--transition-timing);
  transition: color 250ms var(--transition-timing);
}
.form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
  color: var(--primary-txt_mod-darking);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -ms-transition: color 250ms var(--transition-timing);
  transition: color 250ms var(--transition-timing);
}
.form__input::placeholder,
.form__textarea::placeholder {
  color: var(--primary-txt_mod-darking);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: color 250ms var(--transition-timing);
}

/* .form__input:not(:focus):not(:placeholder-shown):valid {
    background-color: rgba(100, 198, 15, 0.1);
}

.form__input:not(:focus):not(:placeholder-shown):invalid {
    background-color: rgba(198, 55, 15, 0.1);
} */
.form__textarea {
  width: 100%;
  height: 75px;
  resize: none;
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  margin-right: 60px;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 130px;
  }
}

@media screen and (max-width: 767px) {
  .logo__icon {
    fill: var(--secondary-txt_mod-dark);
  }
}
@media screen and (min-width: 768px) {
  .logo__icon {
    fill: --secondary-txt_mod-light;
  }
}

.header__overlay {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .header__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(25, 28, 38, 0.2);
    transform: translateX(110%);
    transition: transform 0.8s ease;
    overflow-y: auto;
    z-index: 10;
  }
  .header__overlay.is-open {
    transform: translateX(0);
  }
}

@media screen and (max-width: 479px) {
  .header__wrap {
    width: 100%;
    padding: 80px 80px 40px 40px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .header__wrap {
    width: 70%;
    max-width: 480px;
    padding: 118px 40px 40px;
  }
}
@media screen and (max-width: 767px) {
  .header__wrap {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow-y: auto;
    background-color: var(--secondary-bg-mod-light);
  }
}
@media screen and (min-width: 768px) {
  .header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.nav {
  position: relative;
}
@media screen and (max-width: 479px) {
  .nav {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .nav {
    margin-bottom: 64px;
  }
}

.nav__list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .nav__list {
    flex-direction: column;
    gap: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__list {
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    gap: 30px;
  }
}

.nav__link {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  color: var(--secondary-txt_mod-light);
  transition: color 0.25s var(--transition-timing);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .nav__link {
    color: var(--secondary-txt_mod-dark);
    font-size: 12px;
    line-height: 1.33;
  }
}

.header__connect {
  display: flex;
}
@media screen and (max-width: 479px) {
  .header__connect {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .header__connect {
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 767px) {
  .header__connect {
    flex-direction: column;
    gap: 24px;
  }
}
@media screen and (min-width: 768px) {
  .header__connect {
    position: relative;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header__connect {
    align-items: center;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}

@media screen and (max-width: 767px) {
  .connect-body__btn.btn {
    max-width: 194px;
    color: var(--secondary-txt_mod-light);
    transition: color 0.25s var(--transition-timing);
  }
  .connect-body__btn.btn:hover, .connect-body__btn.btn:focus {
    color: var(--secondary-txt_mod-dark);
    background-color: var(--accent-color);
    border-color: transparent;
  }
}

.connect-body__phone {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-txt_mod-light);
  white-space: nowrap;
  transition: color 0.25s var(--transition-timing);
}
.connect-body__phone:hover, .connect-body__phone:focus {
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .connect-body__phone {
    font-size: 18px;
    line-height: 1.38;
  }
}
@media screen and (min-width: 768px) {
  .connect-body__phone {
    color: var(--secondary-txt_mod-dark);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .connect-body__phone {
    position: absolute;
    right: 0;
    bottom: -36px;
  }
}

@media screen and (max-width: 767px) {
  .header__social {
    flex-wrap: wrap;
    row-gap: 24px;
    justify-content: flex-end;
    width: 174px;
  }
}
@media screen and (min-width: 768px) {
  .header__social {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-btn {
    position: absolute;
    top: 48px;
    right: 31px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .header-btn {
    display: none;
  }
}

.header-btn__menu {
  transition: fill 0.25s ease;
  fill: var(--secondary-txt_mod-dark);
}
.menu-open:hover .header-btn__menu, .menu-open:focus .header-btn__menu {
  fill: var(--accent-color);
}

.header-btn__close {
  transition: fill 0.25s ease;
  fill: var(--secondary-txt_mod-light);
}
.menu-close:hover .header-btn__close, .menu-close:focus .header-btn__close {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .hero__container.container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    display: flex;
    gap: 30px;
  }
}

.hero__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__list {
    display: flex;
    width: 70px;
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding-top: 40px;
  }
}

.hero_before_vertical.social-line::before {
  width: 1px;
  height: 60px;
}

.hero__content {
  flex-grow: 1;
  background-color: #191c26;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/hero-bg.jpg");
  padding: 208px 0 208px;
}
@media screen and (min-width: 768px) {
  .hero__content {
    padding: 272px 0 237px 120px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__content {
    padding: 272px 0 208px 100px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/hero-bg@2x.jpg");
  }
}
@media screen and (max-width: 767px) {
  .hero__body {
    max-width: 448px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

.hero__wrap {
  max-width: 260px;
}
@media screen and (min-width: 480px) {
  .hero__wrap {
    max-width: 336px;
  }
}
@media screen and (min-width: 768px) {
  .hero__wrap {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__wrap {
    max-width: 445px;
  }
}

.hero__title {
  font-family: var(--secondary-font);
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 72px;
  }
}

.hero__title.title--color-dark {
  margin-bottom: 20px;
}

.about__container {
  display: flex;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .pic-list,
.about__content {
    width: calc((100% - 30px) / 2);
  }
}

.pic-list {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .pic-list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pic-list {
    flex-direction: column;
  }
}

.pic-list__img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pic-list__img {
    width: 330px;
    height: 235px;
  }
}
@media screen and (min-width: 1200px) {
  .pic-list__img {
    width: 270px;
    height: 445px;
  }
}

.about__content {
  max-width: 470px;
}

.about-content__subtitle {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .about-content__subtitle {
    font-size: 16px;
    line-height: 1.62;
  }
}

@media all and (max-width: 1199px) {
  .about__title {
    font-size: 28px;
  }
}

.about-content__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-txt_mod-light);
  margin-bottom: 42px;
}

.services {
  background-color: #111319;
  background-image: url("../images/services/services-bg.png");
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .services {
    background-image: url("../images/services/services-bg@2x.png");
  }
}
.services__inner {
  margin-bottom: 44px;
}
@media screen and (min-width: 480px) {
  .services__inner {
    padding: 30px 20px 30px 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .services__inner {
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    padding: 32px 27px 32px 40px;
  }
}
@media screen and (min-width: 1200px) {
  .services__inner {
    padding: 0;
  }
}

.services__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .services__box {
    flex-direction: row;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .services-box__list {
    width: calc((100% - 30px) / 2);
    padding: 30px 20px;
  }
}

@media screen and (min-width: 1200px) {
  .table_bg_left {
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

@media screen and (min-width: 1200px) {
  .table_bg_right {
    background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.table__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 12px;
}
@media screen and (min-width: 480px) {
  .table__item {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .table__item {
    font-size: initial;
  }
}
.table__item::before {
  content: "";
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  margin-left: 4px;
  margin-right: 4px;
}
@media screen and (min-width: 768px) {
  .table__item::before {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.table__item + .table__item {
  margin-top: 20px;
}
.table__item:not(:last-child) {
  margin-bottom: 20px;
}

.table__name {
  order: -1;
}

/* .services-cost {
    order: 1;
} */
.services__btn {
  display: block;
  margin: 0 auto;
}

.benefits__container {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
@media screen and (min-width: 1200px) {
  .benefits__container {
    gap: 30px;
    flex-direction: row;
  }
}

.benefits__list,
.benefits__content {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .benefits__list,
.benefits__content {
    width: calc(50% - 15px);
  }
}

.benefits__list {
  color: var(--secondary-txt_mod-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  order: 1;
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    order: 0;
    justify-content: inherit;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.benefits__item {
  background-color: var(--primary-bg_mod-light);
  width: calc(50% - 15px);
  height: 134px;
  text-align: center;
  padding: 20px 24px;
}
@media screen and (min-width: 480px) {
  .benefits__item {
    width: 193px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: 210px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 170px;
  }
}
.benefits__item:nth-child(odd) {
  margin-right: 30px;
}
.benefits__item:nth-child(even) {
  margin-top: 30px;
}

.benefits__num {
  position: relative;
  display: inline-flex;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
}
.benefits__num::after {
  content: "+";
  position: absolute;
  color: var(--accent-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  top: 7px;
  right: -13px;
}

.benefits__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: normal;
}

.benefits__content {
  max-width: 500px;
}

.masters {
  background-color: var(--primary-bg_mod-light);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .masters__container.container {
    max-width: 480px;
  }
}

.masters__title.title {
  margin-bottom: 44px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-list__item {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .card-list__item {
    width: calc((100% - 60px) / 3);
  }
}

.card-list__wrap {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.card-list__decr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 108, 0, 0.4);
  color: var(--secondary-bg-mod-light);
  padding: 40px;
  transform: translateY(100%);
  transition: transform 300ms var(--transition-timing);
}
.card-list__item:hover .card-list__decr, .card-list__item:focus .card-list__decr {
  transform: translateY(0);
}

.card-list__name {
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  color: var(--secondary-txt_mod-light);
  margin-bottom: 8px;
}

.card-list__position {
  font-size: 14px;
  line-height: 1.3571428571;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.gallery__uppertitle.uppertitle--color-light {
  margin-bottom: 71px;
}
@media screen and (min-width: 768px) {
  .gallery__uppertitle.uppertitle--color-light {
    margin-bottom: 44px;
  }
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    width: calc((100% - 90px) / 4);
  }
}

.connect {
  background-color: #191C26;
}

.connect__container {
  display: flex;
  flex-wrap: wrap;
}

@media all and (max-width: 1199px) {
  .connect__container.container {
    max-width: 100%;
  }
}

.section-form,
.section-contacts {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .section-form,
.section-contacts {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .section-form {
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .section-form .form {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .section-form .form__wrap {
    flex-wrap: wrap;
    gap: 44px;
    align-items: center;
  }
}

.section-form .form__input {
  width: 100%;
}

.section-contacts {
  background-image: url("../images/connect/contacts-bg.png");
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-contacts {
    background-image: url("../images/connect/contacts-bg@2x.png");
  }
}
.section.section-contacts {
  padding-left: 31px;
  padding-right: 31px;
}
@media all and (max-width: 1199px) {
  .section.section-contacts {
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 15px);
  }
}
@media screen and (min-width: 768px) {
  .section.section-contacts {
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .section.section-contacts {
    padding-left: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-contacts__inner {
    display: flex;
    gap: 30px;
  }
}

.section-contacts__list {
  width: 100%;
  margin-bottom: 70px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-contacts__list {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .section-contacts__list {
    width: 270px;
  }
}

.section-contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.section-contacts__link {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  line-height: 1.67;
  color: var(--primary-txt_mod-dark);
  transition: color 0.25s var(--transition-timing);
}
.section-contacts__link:hover, .section-contacts__link:focus {
  color: var(--accent-color);
}

.section-contacts__icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .section-contacts__title {
    text-align: center;
  }
}

.contacts-address {
  font-weight: 700;
  align-items: start;
}
@media screen and (min-width: 768px) {
  .contacts-address {
    max-width: 255px;
  }
}

.contacts-address .section-contacts__icon {
  margin-top: 7px;
}

@media screen and (max-width: 767px) {
  .section-contacts__box {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.section-contacts__title {
  margin-bottom: 20px;
}

.section-contacts__title::before {
  background-color: rgba(157, 164, 189, 0.4);
}

.section-contacts__time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-txt_mod-dark);
}

.footer {
  background-color: var(--primary-bg_mod-light);
}
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.footer__container {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    align-items: center;
    justify-content: space-between;
  }
}

.footer__copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--primary-txt_mod-dark);
}
@media screen and (max-width: 767px) {
  .footer__copy {
    order: 1;
  }
}

@media screen and (max-width: 767px) {
  .footer__social {
    justify-content: flex-end;
    margin-bottom: 20px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  overflow-y: auto;
  z-index: 15;
  transition: opacity 0.5s var(--transition-timing), visibility 0.5s var(--transition-timing);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  margin: 20px auto;
  width: 95%;
  min-height: 500px;
  background-color: var(--secondary-bg-mod-light);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 0.8s var(--transition-timing);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -200%) scale(0.8) skewX(90deg);
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 550px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) skewX(0);
  }
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  background-color: var(--secondary-bg-mod-light);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: transparent;
  transition: border 0.25s var(--transition-timing), background-color 0.25s var(--transition-timing);
  cursor: pointer;
}
.btn-close:hover, .btn-close:focus {
  background-color: var(--accent-color);
  border: 1px solid transparent;
}

.btn-close__icon {
  fill: var(--accent-color);
  transition: fill 0.25s var(--transition-timing);
}
.btn-close:hover .btn-close__icon, .btn-close:focus .btn-close__icon {
  fill: var(--secondary-bg-mod-light);
}

.modal__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: var(--secondary-txt_mod-light);
  margin-bottom: 44px;
}

.modal-form {
  text-align: center;
}

.modal-form__input,
.modal-form__textarea {
  color: var(--primary-txt_mod-light);
  border-bottom: 1px solid var(--primary-txt_mod-light);
}
.modal-form__input::-moz-placeholder, .modal-form__textarea::-moz-placeholder {
  color: var(--primary-txt_mod-light);
  -moz-transition: color 250ms var(--transition-timing);
  transition: color 250ms var(--transition-timing);
}
.modal-form__input:-ms-input-placeholder, .modal-form__textarea:-ms-input-placeholder {
  color: var(--primary-txt_mod-light);
  -ms-transition: color 250ms var(--transition-timing);
  transition: color 250ms var(--transition-timing);
}
.modal-form__input::placeholder,
.modal-form__textarea::placeholder {
  color: var(--primary-txt_mod-light);
  transition: color 250ms var(--transition-timing);
}
.modal-form__input:hover, .modal-form__input:focus,
.modal-form__textarea:hover,
.modal-form__textarea:focus {
  border-bottom: 1px solid var(--primary-bg_mod-dark);
  color: var(--primary-bg_mod-dark);
}
.modal-form__input:hover::-moz-placeholder, .modal-form__input:focus::-moz-placeholder, .modal-form__textarea:hover::-moz-placeholder, .modal-form__textarea:focus::-moz-placeholder {
  color: var(--primary-txt_mod-light);
}
.modal-form__input:hover:-ms-input-placeholder, .modal-form__input:focus:-ms-input-placeholder, .modal-form__textarea:hover:-ms-input-placeholder, .modal-form__textarea:focus:-ms-input-placeholder {
  color: var(--primary-txt_mod-light);
}
.modal-form__input:hover::placeholder, .modal-form__input:focus::placeholder,
.modal-form__textarea:hover::placeholder,
.modal-form__textarea:focus::placeholder {
  color: var(--primary-txt_mod-light);
}

/* .modal-form__input:not(:focus):not(:placeholder-shown):valid {
    background-color: rgba(100, 198, 15, 0.1);
}

.modal-form__input:not(:focus):not(:placeholder-shown):invalid {
    background-color: rgba(198, 55, 15, 0.1);
} */
.modal-form__textarea {
  margin-bottom: 60px;
}

.modal-form__btn {
  display: block;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */