.benefits__container {
    display: flex;
    flex-direction: column;
    gap: 44px;

    @include min1200 {
        gap: 30px;
        flex-direction: row;
    }
}

.benefits__list,
.benefits__content {
    width: 100%;

    @include min1200 {
        width: calc(50% - 15px);
    }
}

.benefits__list {
    color: var(--secondary-txt_mod-light);
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    order: 1;
    

    @include min1200 {
        order: 0;
        justify-content: inherit;
        padding-left: 100px;
        padding-right: 100px;
    }
}

.benefits__item {
    background-color: var(--primary-bg_mod-light);
    width: calc(50% - 15px);
    height: 134px;
    text-align: center;
    padding: 20px 24px;

    @include min480 {
        width: 193px;
    }

    @include min768 {
        width: 210px;
    }

    @include min1200 {
        width: 170px;
    }

    &:nth-child(odd) {
        margin-right: 30px;
    }
    
    &:nth-child(even) {
        margin-top: 30px;
    }
}

.benefits__num {
    position: relative;
    display: inline-flex;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 0.05em;
    margin-bottom: 6px;

    &::after {
        content: '+';
        position: absolute;
        color: var(--accent-color);
        font-weight: 600;
        font-size: 16px;
        line-height: lh(22,16);
        top: 7px;
        right: -13px;
    }
}

.benefits__text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: normal;
}

.benefits__content {
    max-width: 500px;
}