.header {
    position: absolute;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 130px;
}

.nav-list {
    display: flex;
    gap: 30px;
}

.nav-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--secondary-txt_mod-dark);
    transition: color 0.25s var(--transition-timing);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.header-connect {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: auto;
    margin-right: 20px;
}

.header-phone {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--secondary-txt_mod-dark);
    white-space: nowrap;
    transition: color 0.25s var(--transition-timing);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
