.masters {
    background-color: var(--primary-bg_mod-light);
}

.masters__title.title {
    margin-bottom: 44px;
}

.masters__list {
    display: flex;
    gap: 30px;
}

.item-block__item {
    width: calc((100% - 60px) / 3);
    text-align: center;
}

.item-block__wrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.item-block__decr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 108, 0, 0.4);
    color: var(--secondary-bg-mod-light);
    padding: 40px;
    transform: translateY(100%);
    transition: transform 300ms var(--transition-timing);

    .item-block__item:hover &,
    .item-block__item:focus & {
        transform: translateY(0);
    }

}

.item-block__name {
    font-size: 18px;
    line-height: 1.39;
    letter-spacing: 0.02em;
    color: var(--secondary-txt_mod-light);
    margin-bottom: 8px;
}

.item-block__position {
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-bottom: 30px;
}

